.cabezal {
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 2em 0;
  background-image: url(../imgs/fondo_footer.png);
}

#intro-section {
  padding: 8 rem 0 0 0;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Merriweather", serif;
  margin-left: 3rem;
  font-size: 30px;
  background: none;
}

h2, h4 {
  font-family: "Merriweather", serif;
  color: #555 !important;
  margin-left: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

h3 {
  margin: 3rem 0 0 5rem;
  font-size: 24pt;
}

h4 {
  color: #555;
}

h2,
h4 {
  color: #b8cd14;
  font-family: "Merriweather", serif;
  margin-left: 3rem;
}

.loguito {
  margin-top: 1rem;
  margin-left: 10rem;
  animation-name: logo_animado;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  display: inline-block;
  flex-wrap: wrap;
  font: 600 17px/30px;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  border-radius: 5px;
  flex: 1 1 30px;
  text-align: center;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, #222222, #111111);
  padding: 0.7rem 4rem 0.7rem 4rem;
  font-weight: 600;
}
li a {
  color: #b8cd14;
  font-family: "Merriweather Sans", sans-serif;
  background: none;
  text-decoration: none;
}
li a:hover {
  color: #555 !important;
}

img {
  max-width: 100%;
  background: none;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-content: center;
  column-gap: 0.5em;
  row-gap: 0.5em;
}
.portfolio img {
  margin: 0 auto;
}

.container,
.slide {
  width: 93%;
  margin: 0 auto;
  padding: 4rem 0 1rem 0;
}

.body {
  padding-bottom: 3em;
  min-height: 100vh;
  background: none;
}

.cuerpo {
  background: none;
}

fieldset {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3rem;
  max-width: 900px;
}
fieldset legend {
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
fieldset label {
  margin-left: 3rem;
  margin-bottom: 1rem;
}
fieldset p,
fieldset .conditions {
  margin-left: 3rem;
}
fieldset textarea {
  color: #999999;
  display: flex;
}
fieldset textarea #mensaje {
  size: 100px 50px;
}
fieldset input {
  color: #999999;
}
fieldset .boton_enviar {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  border-color: #b8cd14;
  width: 100px;
  height: 40px;
}
fieldset .check {
  margin-left: 1rem;
}

#mensaje,
#nombre,
#apellido {
  color: #888888;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.cuentame {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.client {
  margin-bottom: 0.5rem;
}

.pie-pagina {
  position: bottom;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 1em 0;
  background-image: url(../imgs/fondo_footer.png);
}
.pie-pagina a {
  color: none;
  background: none;
  text-decoration: none;
}
.pie-pagina .icons {
  background: none;
}

@keyframes logo_animado {
  to {
    transform: scale(1.1, 1.1);
  }
}
@media (min-width: 376px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}
@media (min-width: 480px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}
@media (min-width: 520px) {
  .portfolio {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1720px) {
  .portfolio {
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, 1fr);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #b8cd14;
  background-color: #141413;
}

/*# sourceMappingURL=style.css.map */
