img {
  max-width: 100%;
  background: none;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-content: center;
  column-gap: 0.5em;
  row-gap: 0.5em;
  img {
    margin: 0 auto;
  }
}
@media (min-width: 376px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media (min-width: 480px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media (min-width: 520px) {
  .portfolio {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (min-width: $mobile) {
  .portfolio {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1720px) {
  .portfolio {
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, 1fr);
  }
}

.container,
.slide {
  width: 93%;
  margin: 0 auto;
  padding: 4rem 0 1rem 0;
}

.body {
  padding-bottom: 3em;
  min-height: 100vh;
  background: none;
}
.cuerpo {
  background: none;
}
