fieldset {
  font-family: $tipo-sans;
  margin-left: 2rem;
  max-width: 900px;
  legend {
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  label {
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  p,
  .conditions {
    margin-left: 3rem;
  }
  textarea {
    color: #999999;
    display: flex;
    #mensaje {
      size: 100px 50px;
    }
  }
  input {
    color: #999999;
  }
  .boton_enviar {
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    border-color: #b8cd14;
    width: 100px;
    height: 40px;
  }
  .check {
    margin-left: 1rem;
  }
}
#mensaje,
#nombre,
#apellido {
  color: #888888;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.cuentame {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.client {
  margin-bottom: 0.5rem;
}
