fieldset {
  margin-left: 2rem;
  legend {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  label {
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-size: medium;
  }
  p,
  .conditions {
    margin-left: 3rem;
  }
  textarea {
    color: #999999;
    font-family: $tipo-sans;
    display: flex;
    margin-left: 3rem;
    max-width: 50%;
  }
  input {
    color: #999999;
    font-family: $tipo-sans;
  }
  .boton_enviar {
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    border-color: #b8cd14;
    width: 100px;
    height: 40px;
  }
  .check {
    margin-left: 1rem;
  }
}
#mensaje,
#nombre,
#apellido {
  color: #888888;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.cuentame {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.client {
  margin-bottom: 10em;
}
