fieldset {
  margin-left: 3rem;
  legend {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  label {
    margin-left: 2rem;
  }
  p,
  .conditions {
    margin-left: 3rem;
  }
  textarea {
    color: #999999;
    font-family: $tipo-sans;
  }
  input {
    color: #999999;
    font-family: $tipo-sans;
  }
  .boton_enviar {
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: $verde-marca;
    border-color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: petite-caps;
  }
  .check {
    margin-left: 1rem;
  }
}
#nombre,
#mensaje {
  font-family: $tipo-sans;
}
