#intro-section {
  padding: 8 rem 0 0 0;
  font-weight: map-get ($font-weights, bold);
}
h2,
h4 {
  color: map-get($grayscale, 500);
}
h1 {
  text-align: left;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 30px;
  background: none;
}
h2 {
  margin-left: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
h3 {
  margin: 3rem 0 0 5rem;
  font-size: 24pt;
}
h4 {
  @extend.h1 !optional;
  color: map-get($grayscale, 100);
}
