$verde-marca: #b8cd14;
$tipo-sans: Arial, Helvetica, sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$grises: (
  "100": #888,
  "300": #555,
  "500": #222,
);

$mobile: 768px;
