$verde-marca: #b8cd14;
$tipo-sans: Arial, Helvetica, sans-serif;
$font-weights: (
  "regular": 400,
  "medium" 500,
  "bold": 700,
);
$grayscale: map-merge(
  (
    "100": #eef1f4,
    "200": #dfe3e7,
    "300": #cbcfd2,
    "400": #b3b6b9,
    "500": #9ca0a3,
    "600": #7c7f82,
    "700": #606365,
    "800": #4a4c4f,
    "900": #333536,
  ),
  $grayscale
);
