$verde-marca: #b8cd14;
$tipo-sans: Arial, Helvetica, sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$grises: (
  "claro": #888,
  "medio": #555,
  "oscuro": #222,
);

$mobile: 768px;
