@import "variables";
@import "header";
@import "logo";
@import "navbar";
@import "body";
@import "portfolio";
@import "formulario";
@import "footer";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $verde-marca;
  background-color: #141413;
}

@media (min-width: 376px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media (min-width: 480px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media (min-width: 520px) {
  .portfolio {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (min-width: $mobile) {
  .portfolio {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1720px) {
  .portfolio {
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, 1fr);
  }
}
