* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #b8cd14;
  background-color: #141413;
}
img {
  max-width: 100%;
  background: none;
}
.cabezal {
  position: bottom;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 2em 0;
  background-image: url(../imgs/fondo_footer.png);
}
.container,
.slide {
  width: 93%;
  margin: 0 auto;
  padding: 4rem 0 1rem 0;
}
.nav_list {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style: none;
  display: inline-block;
  flex-wrap: wrap;
  font: 600 17px/30px;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  border-radius: 5px;
  flex: 1 1 30px;
  text-align: center;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, #222222, #111111);
  padding: 0.7rem 4rem 0.7rem 4rem;
  font-weight: 600;
  a {
    color: #b8cd14;
    font-family: "Merriweather Sans", sans-serif;
    background: none;
    text-decoration: none;
  }
  a:hover {
    color: #666;
  }
}
.body {
  padding-bottom: 3em;
  min-height: 100vh;
  background: none;
}
.cuerpo {
  background: none;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  text-align: center;
  column-gap: 0.5em;
  row-gap: 0.5em;
}
@media (min-width: 376px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media (min-width: 480px) {
  .portfolio {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media (min-width: 520px) {
  .portfolio {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (min-width: 728px) {
  .portfolio {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1720px) {
  .portfolio {
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, 1fr);
  }
}

#intro-section {
  padding: 8 rem 0 0 0;
}
h2,
h4 {
  color: #666;
}
h1 {
  text-align: left;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 30px;
  background: none;
}
h2 {
  margin-left: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
h3 {
  margin: 5rem 0px 0 5rem;
  font-size: 24pt;
}
h4 {
  margin-left: 3rem;
}
fieldset {
  margin-left: 3rem;
  legend {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  label {
    margin-left: 2rem;
  }
  p,
  .conditions {
    margin-left: 3rem;
  }
  textarea {
    color: #999999;
  }
  input {
    color: #999999;
  }
  .boton_enviar {
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: #b8cd14;
    border-color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: petite-caps;
  }
  .check {
    margin-left: 1rem;
  }
}

.pie-pagina {
  position: bottom;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 1em 0;
  background-image: url(../imgs/fondo_footer.png);
  a {
    color: none;
    background: none;
  }
  .icons {
    background: none;
  }
}

@keyframes logo_animado {
  from {
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.loguito {
  margin-top: 1rem;
  margin-left: 10rem;
  animation-name: logo_animado;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
