@import "variables";
@import "header";
@import "logo";
@import "navbar";
@import "body";
@import "portfolio";
@import "formulario";
@import "footer";
@import "mixins";
@import "queries";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $verde-marca;
  background-color: #141413;
}
